@import url("./colors.css");
* {
  border: none;
  border-radius: 0;
  min-height: 0;
  margin: 0px;
  padding: 0px;
}

#waybar {
  border: 0px solid @background;
  border-radius: 0px;
  background: @background;
  color: @foreground;
  font-size: 18px;
  font-family: "monospace";
  opacity: 0.8;
}

#workspaces {
  padding: 3px 3px;
  background-color: @background-darker;
  border-radius: 10px;
  margin: 3px 3px;
  opacity: 1.0;
}

#workspaces button {
  padding: 0 5px;
  color: @foreground;
}

#workspaces button.active {
  color: @workspace;
}

#workspaces button.focused {
  color: @workspace;
}

#window {
  padding: 5px 5px;
  background-color: @background-darker;
  border-radius: 10px;
  margin: 3px 3px;
}

#one {
  padding: 3px 3px;
  background-color: @background-darker;
  border-radius: 10px;
  margin: 3px 3px;
}

#custom-powermenu,
#custom-desktopmonitors,
#cpu,
#custom-spotify,
#memory,
#pulseaudio,
#custom-updates,
#network {
  border: 0px solid @cyan;
  background-color: @background-darker;
  border-radius: 10px;
  margin: 3px 3px;
  margin-left: 8px;
  margin-right: 8px;
}

#custom-notification {
  margin-right: 8px;
  margin-left: 8px;
}
#battery.critical {
  color: @red;
  border: 2px solid @foreground;
  margin-left: 8px;
  margin-right: 8px;
}

#battery.warning {
  color: @orange;
  border: 2px solid @background-darker;
  margin-left: 8px;
  margin-right: 8px;
}

#submap {
  border: 0px solid @red;
  color: @red;
  background-color: transparent;
  border-radius: 10px;
  margin-left: 8px;
  margin-right: 8px;
}

#window {
  color: @foreground;
}

#tray {
  margin-right: 8px;
  margin-left: 8px;
}

#custom-updates {
  color: @pink;
}

#custom-powermenu {
  color: @purple;
  margin-right: 8px;
  margin-left: 8px;
}

#custom-desktopmonitors {
  color: @cyan;
  margin-right: 8px;
  margin-left: 8px;
}

#scratchpad {
  color: @comment;
  margin-left: 8px;
  margin-right: 8px;
}

#pulseaudio {
  color: @green;
  margin-left: 8px;
  margin-right: 8px;
}

#cpu {
  color: @yellow;
  margin-left: 8px;
  margin-right: 8px;
}

#battery {
  color: @green;
  margin-right: 8px;
  margin-left: 8px;
}

#memory {
  color: @orange;
  margin-left: 8px;
  margin-right: 8px;
}

#network {
  color: @purple;
  margin-left: 8px;
  margin-right: 8px;
}

#clock {
  color: @foreground;
  margin-right: 8px;
  margin-left: 8px;
}
