* {
  border: none;
  border-radius: 0;
  min-height: 0;
  margin: 0;
  padding: 0;
}

#waybar {
  border: 0px solid #30C0EF;
  border-radius: 10px;
  background: #323234;
  color: #eeeeef;
  font-size: 18px;
  font-family: "monospace";
  opacity: 0.8;
}

#workspaces button {
  padding: 0 5px;
  color: #eeeeef;
}

#workspaces button.active {
  color: #30C0EF;
}

#workspaces button.focused {
  color: #30C0EF;
}

#one {
  border: 0px solid #30C0EF;
  padding: 4px 9px;
  background-color: #1C1C1E;
  border-radius: 10px;
  margin: 3px 3px;
}

#custom-powermenu,
#custom-desktopmonitors,
#cpu,
#custom-spotify,
#memory,
#workspaces,
#window,
#pulseaudio,
#custom-updates,
#network {
  border: 0px solid #30C0EF;
  padding: 4px 9px;
  background-color: #1C1C1E;
  border-radius: 10px;
  margin: 3px 3px;
  margin-left: 8px;
  margin-right: 8px;
}

#custom-notification {
  margin-right: 8px;
  margin-left: 8px;
}
#battery.critical {
  background-color: #C71212;
  color: #eeeeef;
  border: 2px solid #eeeeef;
  margin-left: 8px;
  margin-right: 8px;
}

#battery.warning {
  background-color: #e5c07b;
  color: #1C1C1E;
  border: 2px solid #1C1C1E;
  margin-left: 8px;
  margin-right: 8px;
}

#submap {
  border: 0px solid #C71212;
  color: #eeeeef;
  padding: 4px 8px;
  background-color: transparent;
  border-radius: 10px;
  margin: 3px 3px;
}

#window {
  color: #eeeeef;
}

#tray {
  margin-right: 8px;
  margin-left: 8px;
}

#custom-updates {
  color: #1788e4;
}

#custom-powermenu {
  color: #e06c75;
  padding-right: 11px;
  margin-right: 8px;
  margin-left: 8px;
}

#custom-desktopmonitors {
  color: #1788e4;
  padding-right: 11px;
  margin-right: 8px;
  margin-left: 8px;
}

#scratchpad {
  color: #cffafe;
  padding-right: 4px;
  padding-left: 4px;
  margin-left: 8px;
}

#pulseaudio {
  color: #0fb9b1;
  padding-right: 14px;
  margin-left: 8px;
}

#cpu {
  color: #61afef;
  margin-left: 8px;
}

#battery {
  color: #98c379;
  margin-right: 8px;
  margin-left: 8px;
}

#memory {
  color: #e5c07b;
  margin-left: 8px;
}

#network {
  color: #c678dd;
  margin-left: 8px;
}

#clock {
  color: #fff;
  margin-right: 8px;
  margin-left: 8px;
}
