* {
  border: none;
  border-radius: 0;
  min-height: 0;
  margin: 0;
  padding: 0;
}
#waybar {
  background: transparent; 
  border: 0px solid #30C0EF;
  border-radius: 0px;
  /* background: #1C1C1E; */
  color: #eeeeef;
  font-size: 18px;
  font-family: "monospace";
}

#workspaces button {
  padding: 0 5px;
  color: #eeeeef;
}
/* Fix: active workspace doesn't show up */
/* #workspaces button.focused { */
#workspaces button.active {
  color: #30C0EF;
}

/* #workspaces button.focused {
  color: #30C0EF;
} */

#custom-powermenu,
#custom-desktopmonitors,
#custom-notification,
#cpu,
#custom-spotify,
#tray,
#memory,
#workspaces,
#clock,
#window,
#battery,
#pulseaudio,
#custom-updates,
#network {
  border: 2px solid #30C0EF;
  padding: 4px 8px;
  /* background-color: #1C1C1E; */
  background-color: #1C1C1E;
  border-radius: 10px;
  margin: 3px 3px;
}

#battery.full {
  background-color: transparent;
  color: transparent;
  border: 0px solid;
}

#submap {
  border: 2px solid #C71212;
  padding: 4px 8px;
  /* background-color: #1C1C1E; */
  background-color: #1C1C1E;
  border-radius: 10px;
  margin: 3px 3px;
}

#window {
  /*color: #929db1; */
  color: #eeeeef;
}

#tray {
  margin-left: 4px;
}

#custom-updates {
  color: #1788e4;
}

#custom-powermenu {
  color: #e06c75;
  padding-right: 11px;
  margin-right: 8px;
}

#custom-desktopmonitors {
  color: #1788e4;
  padding-right: 11px;
  margin-right: 8px;
}

#scratchpad {
  color: #cffafe;
  padding-right: 4px;
  padding-left: 4px;
}

#pulseaudio {
  color: #0fb9b1;
  padding-right: 14px;
}

#cpu {
  color: #61afef;
}

#battery {
  color: #98c379;
}

#memory {
  color: #e5c07b;
}

#network {
  color: #c678dd;
/*  min-width: 200px; */
}

#clock {
  color: #fff;
  margin-left: 8px;
  /* opacity: 0.7; */
  /* font-size: 18px; */
}
